<head>
  ..
  <script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
  ...
</head>
<body>
  ...
  <div id="waline"></div>
  <script>
    Waline({
      el: '#waline',
      serverURL: 'https://mywaline-lime.vercel.app/',
    });
  </script>
</body>

<script src="https://utteranc.es/client.js"
        repo="swcyo/Rblog"
        issue-term="pathname"
        label="评论"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<footer>
  {{ partial "foot_custom.html" . }}
  <div class="footer">
  {{ with .Site.Params.footer }}
  <ul class="copyright">
    <li>{{ . | markdownify }}</li>
  </ul>
  {{ end }}
  <ul>
    {{ range .Site.Menus.footer }}
    <li{{ with .Pre }} class="{{ . }}"{{ end }}{{ with .Identifier }} id="{{ . }}"{{ end }}>
      <a href="{{ if (findRE "^#" .URL ) }}{{ .URL }}{{ else }}{{ .URL | relURL }}{{ end }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
  </div>
  {{ if not ($.Scratch.Get "has_appendix") }}
  <div class="footer hidden">
  {{ partial "correction.html" . }}
  </div>
  {{ end }}
  </footer>
  <script async src="{{ relURL "/js/features.js" }}" data-page-features="{{ (slice .Params.features .Site.Params.pageFeatures (index .Params "toc-title")) | jsonify}}"></script>

  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?af43714f0d2bda327dfa276339b9db25";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
 <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
本站总访问量<span id="busuanzi_value_site_pv"></span>次；
本站访客数<span id="busuanzi_value_site_uv"></span>人次；
本文总阅读量<span id="busuanzi_value_page_pv"></span>次；
  </body>
</html>


